.header span {
    color: var(--light-primary);
}

.header h1 {
    color: white;
    font-size: 5em;
    font-weight: 900;
    text-align: left;
}

.header {
    height: 50vh;
    color: var(--main-bg-color);
    background-color: var(--light-grey);
} 

p {
    max-width: 500px;
    color: var(--darkest-grey);
    font-weight: 500;
    text-align: left;
    font-size: 1em;
}

.first-word {
    color: var(--dark-primary);
    font-weight: 700;

}